<h1>Add new Hero</h1>

<div>
    <p>Complete this form to add a new log</p>
    <form action="/logs/add" method="post">
        <input type="text" name="sensor_id" placeholder="Sensor ID">
        <input type="number" name="temperaturaH" placeholder="Tº Humedo">
        <input type="number" name="temperaturaS" placeholder="Tº Seco">
        <input type="number" name="humedad" placeholder="Humedad">
        <button>Crear</button>
    </form>
</div>
